body {
  background-color: oldlace;
  /* background-image:url("picnic.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}


.right-content {
  text-align:right;
}

.nav
{
  text-align:left;
}

header {
  text-align: right;
}

footer {
  text-align: center;
}

/* header, footer {
  padding: 5px
} */


/* these will be for the buttons */
/* nav {
  border-top: thin #5b7d87 solid;
  border-bottom: thin #5b7d87 solid;
  padding-top: 12px;
  padding-bottom: 12px;
}
nav .btn {
  background-color: #5b7d87;
  color: #fef9ff;
}

nav .btn:hover {
  font-weight: bold;
} */
