body {
  background-color: oldlace;
  /* background-image:url("picnic.jpg");
  background-repeat: no-repeat;
  background-size: cover; */
  font-family: 'Gloria Hallelujah', cursive;
  text-align: center;
}

/* img {
  padding-top: 60px;
} */

.nav
{
  margin-top: 20px;
  text-align:left;
}

.mainboy
{
  margin-top:40px;
  padding-top: 60px;
}


.right-content {
  text-align:right;
  margin-right: 20px;
}

hr {
  border: none;
}



header {
  margin-top: 20px;
  margin-right: 20px;
  text-align: right;
}

footer {
  margin-top: 50px;
  text-align: center;
}
